<div class="panel panel-clean">
  <div class="panel-body">
    <form name="contactForm">
    
      <div class="form-group">
        <label for="contact_name">Name</label>
        <input type="text" id="contact_name" class="form-control" ng-model="device.c8y_Contact.name">
      </div>
      <div class="form-group">
        <label for="contact_email">E-mail address</label>
        <input type="text" id="contact_email" class="form-control" ng-model="device.c8y_Contact.email">
      </div>
      <div class="form-group">
        <label for="contact_phone">Phone</label>
        <input type="text" id="contact_phone" class="form-control" ng-model="device.c8y_Contact.phone">
      </div>
      <div class="form-group">
        <label for="contact_address">Address</label>
        <input type="text" id="contact_address" class="form-control" ng-model="device.c8y_Contact.address">
      </div>
      
      <div>
        <a href="" class="btn btn-primary" ng-click="save(device)" ng-disabled="contactForm.$invalid">Save changes</a>
      </div>
    </form>
  </div>
</div>